// Component: Breadcrumbs
// Navigation breadcrumb trail
@use '../tokens' as *;
@use '../base/mixins' as *;

.breadcrumbs {
  display: flex;
  align-items: center;
  
  &-list {
    display: flex;
    align-items: center;
    gap: var(--space-2);
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  &-link {
    color: var(--color-link);
    text-decoration: none;
    transition: var(--transition-colors);
    @include focus-visible;
    
    &:hover {
      color: var(--color-link-hover);
      text-decoration: underline;
    }
  }
  
  &-button {
    background: none;
    border: none;
    padding: 0;
    color: var(--color-link);
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    transition: var(--transition-colors);
    @include focus-visible;
    
    &:hover {
      color: var(--color-link-hover);
      text-decoration: underline;
    }
  }
  
  &-text {
    color: var(--color-text-secondary);
  }
  
  &-separator {
    color: var(--color-text-tertiary);
    user-select: none;
  }
}
