@use '../tokens' as *;
@use '../mixins' as *;

// Container Component
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-4);
  padding-right: var(--space-4);
  
  @include md {
    padding-left: var(--space-6);
    padding-right: var(--space-6);
  }
  
  // Max-width constraints
  &-sm {
    max-width: 640px;
  }
  
  &-md {
    max-width: 768px;
  }
  
  &-lg {
    max-width: 1024px;
  }
  
  &-xl {
    max-width: 1280px;
  }
  
  &-2xl {
    max-width: 1536px;
  }
  
  &-fluid {
    max-width: 100%;
  }
  
  // Padding variants
  &-no-padding {
    padding-left: 0;
    padding-right: 0;
  }
}
