/* Logo */
.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 0.25s;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}