/* WAŻNE: Zastosuj kolory do body i html */
html,
body {
  margin: 0;
  padding: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
}

/* Layout */
body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Links */
a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary-hover);
}